/* You can add global styles to this file, and also import other style files */

@import "./assets/tailwind.scss";
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
